.navigation__list {
  display: flex;
  column-gap: 16px;
  padding: 0;
  margin: 0;
  list-style-type: none;
  text-decoration: none;
}

.navigation__list-item {
  list-style: none;
}

.navigation__link {
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 18px;
  color: black;
  text-decoration: none;
  text-align: right;
  transition: linear 0.3s;
}

.navigation__link_main {
  color: white;
}

.navigation__link:hover {
  opacity: 0.7;
}

@media screen and (max-width: 804px) {
  .navigation {
    display: none;
  }
}