.not-found {
  max-width: 100%;
}

.not-found__container {
  position: relative;
  min-height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #FFFFFF;
}

.not-found__title {
  font-style: normal;
  font-weight: 400;
  font-size: 140px;
  line-height: 169px;
  margin: 246px auto auto;
  text-align: center;
}

.not-found__subtitle {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: black;
  text-align: center;
  margin: 5px auto auto;
}

.not-found__button {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  cursor: pointer;
  color: #FF6838;
  margin: 184px auto 60px;
}

.not-found__button:hover {
  opacity: 0.5;
}


@media screen and (max-width: 804px) {
  .not-found__title {
    margin: 408px auto auto;
  }

  .not-found__button {
    margin: 184px auto 222px;
  }
}

@media screen and (max-width: 420px) {
  .not-found__title {
    margin: 329px auto auto;
    font-size: 80px;
    line-height: 97px;
  }

  .not-found__subtitle {
    font-size: 12px;
    line-height: 15px;
    margin: 10px auto auto;
  }

  .not-found__button {
    font-size: 12px;
    line-height: 15px;
    margin: 284px auto 30px;
  }
}